[2019-12-18 19:57] jmcmurry opened #9 "Summit with the CDA team"
- [x] Determine the ideal time window for our CCDH team to meet
- [x] Send this availability to the CDA team (TBD once it is awarded)
- [x] Set agenda and required staff for the meeting
- [x] Set location and logistics for the meeting
- [x] Document resulting decisions and action items
~~- [ ] Get advance travel approvals from FNL~~
~~- [ ] Get reimbursements cooking~~

[2020-04-21 20:31] nicolevasilevsky opened #8 "Finalize FAQ doc for web portal"
[FAQ doc](https://docs.google.com/document/d/1ON5XET_pFceKEHc6x1sQkCpqV9vWGUG1qhnRlZpXYzo/edit)

[2020-07-13 18:11] nicolevasilevsky opened #6 "Create an org chart of the CRDC"
We need a better understanding of who they are

- [ ] start with looking at website
- [ ] ask NCI team who the contact person is for each node
- [ ] create draft to share with team

[2020-07-13 18:25] nicolevasilevsky opened #5 "Re-announce existence of Help desk to nodes after the v0.1 harmonized model has been drafted"
- [x] add to newsletter
- [x] add to website
- [x] announce office hours via email
- [x] announce office hours in newsletter

[2020-07-13 18:29] nicolevasilevsky opened #4 "create/disseminate Q2 newsletter"
- [x] @keblumhardt draft newsletter
- [x] share with program leads
- [x] send to community via email and Slack
- [x] finalize / confirm distribution list

[2020-07-13 18:31] nicolevasilevsky opened #3 "create/disseminate Q3 newsletter"
- [ ] @keblumhardt draft newsletter
- [ ] share with program leads
- [ ] send to community via email and Slack

[2020-07-13 18:36] nicolevasilevsky opened #2 "create a CDA / CCDH Engagement Plan"
See draft [here](https://docs.google.com/document/d/1FxsDLTBKA07A0zYvEDONb-JGOHhUWsA_Hm70sHtI37I/edit)

- [x] initiate communication with their operations team
- [x] have initial scoping meeting to discuss collaboration; determine ongoing meeting schedule (include CCDH leads, CDA leads, NCI leadership)
- [x] have technical scoping meeting following initial meeting (attendees TBD)

[2020-07-13 18:52] nicolevasilevsky opened #1 "Create and coordinate user lists across methods of communication and within CRDC (ongoing)"
Link to node contact list: https://docs.google.com/spreadsheets/d/1EcQQdN0fXhBf4V7YpF67ZhIxUYLzoygwliXoWXsjuVQ/edit#gid=0

Link to CCDH Community contact list:
https://docs.google.com/spreadsheets/d/1ZrW9X1xOHAclQpwWgrN4_JO7pyZhBvkvx0TPEJSBnXE/edit#gid=0

[2020-07-27 17:22] nicolevasilevsky opened #7 "IDC reports 84 distinct elements - would like a list of these"
In the kickoff [slides](https://docs.google.com/presentation/d/1Gt5Dp3whCrYb2OGG6GT3An9ZVhE-MH58fwUYGqc5N00/edit#slide=id.g63d285db8a_0_211), slide 6, IDC reports there are 84 distinct elements, with little overlap. Would be nice to get this list.

![image](https://user-images.githubusercontent.com/6722114/71133791-b140dc00-21b0-11ea-93ef-eda1bd7ff6ec.png)

[2020-07-30 17:17] nicolevasilevsky opened #10 "add image to home page for webportal"
https://ccdhportaldev.pedscommons.org/

![image](https://user-images.githubusercontent.com/6722114/88953475-dbca3b80-d24d-11ea-8446-d5871c2d7f93.png)

[2020-07-30 17:22] nicolevasilevsky opened #11 "add link outs to homepages for team members"
@jen-martin

on these pages:
https://ccdhportaldev.pedscommons.org/communityDevelopment
https://ccdhportaldev.pedscommons.org/dataModel
...
and respective pages

add link outs to:
ORCID
Institution pages
LinkedIn
Professional page

whatever people prefer

cc @jmcmurry
- [x] Julie to do - update onboarding form to ask people which website they prefer to link to

[2020-07-30 17:25] nicolevasilevsky opened #12 "update tools papge"
@jen-martin

- [x] spell out NCI
- [x] remove Steve Cox
- [x] remove RENCI

on this page:
https://ccdhportaldev.pedscommons.org/tools

[2020-07-30 17:26] jmcmurry commented on #11
Form is now [here](https://forms.gle/xekGBBpepwcGxvpT7).

[2020-07-30 17:27] #10 closed

[2020-07-30 17:28] nicolevasilevsky opened #13 "home page needs a banner"
https://ccdhportaldev.pedscommons.org/

Banner that says: Center for Cancer Data Harmonization (CCDH) or a tag line that summarizes our work

[2020-07-30 17:30] nicolevasilevsky commented on #13
add to future internal meeting agenda

[2020-07-30 17:31] nicolevasilevsky opened #14 "add link outs to CCDH nodes"
https://ccdhportaldev.pedscommons.org/crdcEcosystem

[2020-07-30 17:37] nicolevasilevsky opened #15 "add DMH info to Standards and Tooling page"
https://ccdhportaldev.pedscommons.org/standardsTooling

[2020-07-30 17:39] nicolevasilevsky commented on #15
include tool evaluation that Jim did?

[2020-07-30 17:46] nicolevasilevsky opened #16 "create a page: Presentations"
- [x] run this idea by NCI / get approval
- [x] link out to past presentations (embed the google slides into the Drupal website or embed a PDF)
- [x] link out to recordings from past presentations

[2020-07-30 17:46] nicolevasilevsky opened #17 "Rename CCDH Community"
Rename CCDH Community to CRDC Ecosystem

[2020-07-30 17:49] #17 closed

[2020-07-30 17:52] nicolevasilevsky opened #18 "support page - add content"
Draft content, share withe @bfurner
- [x] Mention concierge services
- [x] Post office hours for DMH

[2020-07-30 21:24] bfurner commented on #14
Done

[2020-07-30 21:24] #14 closed

[2020-08-07 15:26] #4 closed

[2020-08-07 15:27] #5 closed

[2020-08-10 17:54] nicolevasilevsky commented on #18
ways to reach us right now:
Slack
Email
Office hours

[2020-08-10 17:56] nicolevasilevsky commented on #18
Future concierge services:
triage service for GitHub/issue tracker?

[2020-08-10 21:31] nicolevasilevsky commented on #13
We discussed tag lines on internal call on 08/05. _In progress_

[2020-08-11 16:35] jen-martin commented on #12
done

[2020-08-11 16:35] #12 closed

[2020-09-01 20:41] nicolevasilevsky opened #19 "add content: Relevant Ontologies and Standards"
Please add the list of relevant ontologies and standards to the Web Portal on the Standards and Tooling page:
https://ccdhportaldev.pedscommons.org/standardsTooling

See list here:
https://docs.google.com/spreadsheets/d/1PTSPbl9O-bR_jSjEIIddxXZnA3lLFi0Y7qYbc9RZ6Eo/edit#gid=1563530612

Please ignore the ontologies/standards that lack additional info, such as QIBA, line 26

Let me know if you need h

[2020-09-01 20:43] nicolevasilevsky commented on #19
Could we have a search box like on OLS?
https://www.ebi.ac.uk/ols/ontologies

Maybe a page with something like this OLS page?

[2020-09-01 20:50] nicolevasilevsky opened #20 "add content: Relevant resources"
Add to Standards and Tooling page:
https://ccdhportaldev.pedscommons.org/standardsTooling

Please add this table in this spreadsheet:
https://docs.google.com/spreadsheets/d/11agxuj1o-pi9GlpRam2C9ieCaWw-dcKxIcUMe1wPfmo/edit#gid=0

Ignore the lines without any content (ie lines 2-4, and 24-25)

Could you group the categories together somehow? (Maybe something besides rainbow colors? :) )

[2020-09-01 20:52] nicolevasilevsky opened #21 "add content: Intro text for Standards and Tooling"
Add as a header for the Standards and Tooling page and add the tables from #19 and #20 below.

The CCDH aims to provide relevant standards and tooling for the CRDC community. Below are lists of relevant standards and tools for use in data harmonization, aggregation, modeling and other use cases.

[2020-09-02 15:47] nicolevasilevsky commented on #21
I added this:
https://ccdhportaldev.pedscommons.org/standardsTooling

[2020-09-02 15:47] #21 closed

[2020-09-04 20:57] nicolevasilevsky commented on #19
There is some initial content added here:
https://ccdhportaldev.pedscommons.org/standardsTooling

Should we add additional info to the ontologies table?
Like a column with domain?

@mellybelly @hsolbrig @jiaola

[2020-09-04 20:59] nicolevasilevsky commented on #19
Note - I need to finish adding descriptions for each ontology.

question - most of this text is verbatim from another site - is that okay? or should we reword it? or quote it? Or should we have a standardized description like:
[X] ontology/terminology is used to describe and classify information about [X].

[2020-09-10 16:18] gaurav commented on #19
For some standards, we know about useful resources aside for the official documentation. Is there a good way to add that to the website? For example, for the Portable Format for Biomedical Data (PFB), the closest thing to an official specification is the [Github repository for their Python library](https://github.com/uc-cdis/pypfb), but CBIIT has a really good write-up of this format in their [Ben

[2020-09-14 18:59] nicolevasilevsky commented on #2
Technical meetings were held on:
2020-08-13 - Discussed the scope for the initial phase of work between CDA and CCDH
2020-08-27 - Discussed Time-series data and MVP
2020-09-10 - Discussed the proposed MVP

[2020-09-14 20:05] nicolevasilevsky commented on #20
This is mostly done.

Still open:

- [ ] group the categories for the tools @jen-martin

@mellybelly I pruned some standards from the list. If you'd like others removed, let me know.

[2020-09-14 20:07] nicolevasilevsky commented on #19
@jen-martin can you implement multiple links for the resources/standards?

[2020-09-14 20:16] nicolevasilevsky commented on #18
Initial content is up: https://ccdhportaldev.pedscommons.org/support

[2020-09-14 20:19] nicolevasilevsky commented on #18
@jen-martin can you improve the styling on this page, to make it look nice like the FAQ page?
https://ccdhportaldev.pedscommons.org/support

[2020-09-14 20:24] nicolevasilevsky commented on #11
I think this is done? Please reopen if not

[2020-09-14 20:24] #11 closed

[2020-09-14 20:26] nicolevasilevsky opened #22 "merge team onto one page"
Capture the entire team in a single super-scroll page

https://ccdhportaldev.pedscommons.org/ccdhTeamOrganization

[2020-09-14 20:27] nicolevasilevsky opened #23 "move the contact us to the header"
https://ccdhportaldev.pedscommons.org/about

[2020-09-14 20:34] nicolevasilevsky opened #24 "Move WS descriptions to a single page with brief explanation for each WS"
@jen-martin Move workstream descriptions to a single page with brief explanation for each workstream.

@balhoff
@volcs0
@hsolbrig
@cgchute
@monicacecilia
@mellybelly

We need to provide brief explanations of each WS: please see draft content here: https://ccdhportaldev.pedscommons.org/ccdhWorkstreams

[2020-09-14 20:39] nicolevasilevsky commented on #24
Here is some text from a talk, we could use this as a starting place):

1.    Community development (lead: Volchenboum; co-lead Vasilevsky)
Communities served include the CRDC nodes, bioinformatician and clinician researchers, and data and biospecimen collectors/aggregators/contributors. This workstream functions to interact with community members in various contexts—workshops, online forums, issu

[2020-09-14 20:42] nicolevasilevsky opened #25 "Add more detail to timeline"
https://ccdhportaldev.pedscommons.org/timeline

Could include a link to Project Board (a.k.a. dashboard) - @monicacecilia is this available? if so, could you share the link?

[2020-09-14 20:49] nicolevasilevsky opened #26 "Add better explanations about “what the CCDH is doing”, “what is the value proposition"
Not sure where this is meant to go, maybe the About page?
https://ccdhportaldev.pedscommons.org/about

We need some content.

[2020-09-14 21:01] nicolevasilevsky commented on #9
@keblumhardt can this be closed?

[2020-09-14 21:03] nicolevasilevsky commented on #8
@monicacecilia @keblumhardt can this be closed? This will be ongoing, and we have some initial content up for the FAQ on the website.
https://ccdhportaldev.pedscommons.org/faq

[2020-09-14 21:04] nicolevasilevsky commented on #7
@bfurner @volcs0 is this still outstanding?
could this be closed?

[2020-09-14 21:05] nicolevasilevsky commented on #3
@keblumhardt @monicacecilia this seems like low priority, I think. But the end of this quarter is in a couple weeks, should we get this out by then?

[2020-09-14 21:05] nicolevasilevsky commented on #2
can this be closed?

[2020-09-14 21:06] nicolevasilevsky commented on #1
@keblumhardt is this done? can it be closed?

[2020-09-14 21:22] jen-martin commented on #24
The new page is here: [https://ccdhportaldev.pedscommons.org/ccdhWorkstreams](https://ccdhportaldev.pedscommons.org/ccdhWorkstreams)

[2020-09-14 21:28] jen-martin commented on #24
Added the suggested content above

[2020-09-14 22:17] #23 closed

[2020-09-14 22:19] jen-martin commented on #23
Done, but we may want to revisit the labels. I had to link the "Contact Us" header to something so I linked it to the email address.

[2020-09-14 23:21] jen-martin commented on #22
Done.
Also updated who's on which work stream.

[2020-09-14 23:21] #22 closed

[2020-09-15 00:13] nicolevasilevsky opened #27 "rename labels for contact us?"
https://ccdhportaldev.pedscommons.org/about

Contact us is on the header.

Should the labels be revised? (Email and Public Slack Channel)

[2020-09-15 00:14] nicolevasilevsky commented on #27
related to #23

[2020-09-15 00:22] nicolevasilevsky commented on #15
@balhoff @bfurner @mbrush - do you want to add info about the DMH to this page?
https://ccdhportaldev.pedscommons.org/standardsTooling

or should we close this ticket?

[2020-09-15 02:20] nicolevasilevsky commented on #25
is this the project board?
https://jen-martin.github.io/

[2020-09-15 04:16] jen-martin commented on #25
I've copied my proof-of-concept Gantt chart app to to the CCDH org for further development: [https://cancerdhc.github.io/](https://cancerdhc.github.io/)

[2020-09-15 14:45] balhoff opened #28 "extra spaces"
There are some extra spaces within the name "Laura Christopherson" on https://ccdhportaldev.pedscommons.org/ccdhTeamOrganization

[2020-09-15 19:24] volcs0 commented on #16
Discussed with NCI/FNL - need better name than community outreach - OK to have materials of "general interest" - e.g., data model presentation

[2020-09-15 19:26] nicolevasilevsky commented on #16
@jen-martin can you create a new page that is called something like 'Presentations' (not sure if this is a better name, but this is the content that we plan to add).

I'll add links to the slides and recordings once the page is up.

Thanks!

[2020-09-15 19:27] nicolevasilevsky commented on #16
@monicacecilia can you point me to the google folder with the slides and recordings?
Should we move these somewhere more permanent that google drive? maybe add them to zenodo or something like that?

[2020-09-15 19:36] jen-martin commented on #16
Added a blank page here: [https://ccdhportaldev.pedscommons.org/presentations](https://ccdhportaldev.pedscommons.org/presentations)
Let me know if you want the menu link moved; it is currently under About.

[2020-09-15 19:54] jen-martin commented on #19
@gaurav and @nicolevasilevsky  Would something like adding this line of text to the description work: "Other documentation resources: [CBIIT Bento Meta DB Readme](https://github.com/CBIIT/bento-meta/tree/feat-pfb/python/bento_meta/pfb#portable-format-for-bioinformatics)."

[2020-09-15 20:04] gaurav commented on #19
That looks great to me! Something like "The [CBIIT Bento Meta DB Readme](https://github.com/CBIIT/bento-meta/tree/feat-pfb/python/bento_meta/pfb#portable-format-for-bioinformatics) has a good description of this format." would also work.

[2020-09-15 20:13] gaurav commented on #19
I liked Nicole's suggestion of being able to search in the tables provided. I think something like https://www.w3schools.com/howto/howto_js_filter_table.asp could be pretty useful if it can be implemented in Drupal.

[2020-09-15 20:41] nicolevasilevsky commented on #19
that looks great @gaurav!

[2020-09-16 14:37] monicacecilia commented on #2
I think we can close it. The tasks we set out to complete for this ticket have been completed. The engagement with CDA will continue throughout the life of the project, but this ticket can be closed.
Thank you @nicolevasilevsky
:bowtie:

[2020-09-16 14:37] #2 closed

[2020-09-16 17:27] fedorov commented on #7
That comment in our presentation was about findings from the [DI-Cubed project](https://cri.uchicago.edu/portfolio/nci-di-cubed-data-integration/). I think this is the document that you need: https://www.preprints.org/manuscript/202008.0474/v1.

[2020-09-16 18:23] nicolevasilevsky commented on #28
fixed

[2020-09-16 18:23] #28 closed

[2020-09-16 18:24] nicolevasilevsky commented on #25
@jen-martin can you add this to the page when it is ready?

[2020-09-16 18:53] bfurner commented on #15
We should include:

FHIR [link](http://hl7.org/fhir/)
The FHIR (Fast Healthcare Interoperability Resources) Specification is a standard for exchanging healthcare information

BRIDG [link](https://bridgmodel.nci.nih.gov/)
The goal of the Biomedical Research Integrated Domain Group (BRIDG) Model is to produce a shared view of the dynamic and static semantics for the domain of basic, pre-clinical, cl

[2020-09-16 23:34] decorons commented on #27
Is any explanatory information about the SLACK channel needed? Or will everyone just know what to do?

[2020-09-16 23:36] nicolevasilevsky commented on #27
good point, probably not! I'll make myself an action item to add some additional content/instructions

[2020-09-16 23:55] nicolevasilevsky commented on #15
@bfurner I updated the table, let me know if any changes are needed

[2020-09-17 00:05] decorons commented on #15
Probably unrelated to this ticket, but on the list of Ontologies, etc. , do you want to add a note for people to contact you or come to (to be established) general office hours to discuss?  [For instance, the lists don't really tell you who uses the standard under what circumstances.  You don't have time to create that kind of info now, but over time you might.  In the meantime, you might be able

[2020-09-17 21:40] keblumhardt commented on #3
@nicolevasilevsky @monicacecilia yes, I think we should start working on it. Is there something we could feature for a story? I am happy to write up a draft. We can also discuss at CD meeting on Monday.

[2020-09-17 21:43] #8 closed

[2020-09-17 21:44] #9 closed

[2020-09-17 21:45] #1 closed

[2020-09-17 21:47] nicolevasilevsky commented on #3
Maybe we should highlight the office hours and concierge services? Although they are getting weekly emails about that. I don't know if I have any other ideas.

[2020-09-21 18:22] nicolevasilevsky commented on #16
@jen-martin I added some content. Can you embed the slides and recordings into Drupal?

[2020-09-21 19:10] nicolevasilevsky commented on #15
Good idea, Sherri!

[2020-09-21 19:15] nicolevasilevsky commented on #15
I added contact info on this page: https://ccdhportaldev.pedscommons.org/standardsTooling

[2020-09-21 19:26] nicolevasilevsky opened #29 "fix links to email"
@jen-martin The link outs to the email address aren't working on these two pages:

https://ccdhportaldev.pedscommons.org/standardsTooling - where it says contact us (I did something wrong, can you please fix?)

and

https://ccdhportaldev.pedscommons.org/support - where is has our email address

[2020-09-21 19:31] nicolevasilevsky commented on #27
done

[2020-09-21 19:32] nicolevasilevsky commented on #27
I think this ticket can be closed, please reopen if necessary

[2020-09-21 19:32] #27 closed

[2020-09-21 19:34] nicolevasilevsky commented on #24
I think this can be closed, please reopen if necessary

[2020-09-21 19:34] #24 closed

[2020-09-21 19:34] #18 closed

[2020-09-22 19:47] jen-martin commented on #29
Done. Modified links so they are formatted as "mailto:centerforcancerdh@gmail.com"

[2020-09-22 19:47] #29 closed

[2020-09-22 19:50] nicolevasilevsky commented on #29
thanks! I thought I did that and it didn't work, I have done something wrong.

[2020-09-22 19:55] jen-martin commented on #25
It's still a long ways away from being ready for prime time, but I'll be sure to add it to the project timeline page when it's good to go.

[2020-09-23 16:41] nicolevasilevsky commented on #16
I will add the slides to Slide Share.

[2020-09-23 16:52] nicolevasilevsky commented on #16
done

[2020-09-23 16:52] #16 closed

[2020-09-23 16:53] nicolevasilevsky commented on #20
I am going to close this ticket since the main work is done, and will create a new ticket for the enhancement.

[2020-09-23 16:53] #20 closed

[2020-09-23 16:55] nicolevasilevsky opened #30 "Improve formatting for the list of tools on the Standards and Tooling page"
Is there a way to group the categories for the tools, maybe add some new colors to the rows or make the formatting look more interesting than flat table?

https://ccdhportaldev.pedscommons.org/standardsTooling

[2020-09-23 16:57] nicolevasilevsky commented on #19
I am going to close this ticket since the main work is done and I'll create a new ticket to enhance this table, if possible, which is lower priority.

[2020-09-23 16:57] #19 closed

[2020-09-23 16:57] nicolevasilevsky commented on #15
closing this - reopen if still needed

[2020-09-23 16:57] #15 closed

[2020-09-23 17:02] nicolevasilevsky opened #31 "add enhancements to Standards page"
https://ccdhportaldev.pedscommons.org/standardsTooling

1. Could we have a search box like on OLS? https://www.ebi.ac.uk/ols/ontologies Maybe a page with something like this OLS page? (From @gaurav) Something like https://www.w3schools.com/howto/howto_js_filter_table.asp could be pretty useful if it can be implemented in Drupal.
2. Should we add additional info to the ontologies table? Like a colu

[2020-09-23 17:05] nicolevasilevsky commented on #13
Is this still needed? Seems like less of a priority, I think we should close.

[2020-09-23 23:24] decorons commented on #15
Hi all,
The CRDC Ecosystem page text seems like it could use a little refining, but I’m not sure what to suggest as a change –  Thanks, Sherri

The CCDH seeks to build a community of nodes and resources that will find agreement and leverage their expertise to match and extend existing data models across resources, understanding their requirements for data annotation, harmonization, navigation, and

[2020-09-24 14:40] mellybelly commented on #13
Did we get a tagline? I don't see one, how about:
Bringing harmony to cancer data across the CRDC

[2020-09-24 15:14] nicolevasilevsky commented on #13
We had not agreed on a tagline yet. Your suggestion sounds good!

@jen-martin or @bfurner could you add this to the home page?

[2020-09-24 22:32] nicolevasilevsky opened #32 "Add more content to CRDC Ecosystem webpage"
@decorons suggested in #15 that we improve the CRDC Ecosystem webpage.

I added descriptions of each node: https://ccdhportaldev.pedscommons.org/crdcEcosystem

Note- I borrowed text from here and other websites: https://datascience.cancer.gov/data-commons/repositories

Any other suggestions?

[2020-09-25 01:49] decorons commented on #32
Hi thanks,
I like the descriptions, but I was more asking about the initial paragraph, which seems to need some tweaking.

The CCDH seeks to build a community of nodes and resources that will find agreement and leverage their expertise to match and extend existing data models across resources, understanding their requirements for data annotation, harmonization, navigation, and quality assurance. T

[2020-09-25 05:42] nicolevasilevsky commented on #32
Ah, I see.

Can anyone suggest revisions to this paragraph:

The CCDH seeks to build a community of nodes and resources that will find agreement and leverage their expertise to match and extend existing data models across resources, understanding their requirements for data annotation, harmonization, navigation, and quality assurance. The Community Development group acts as the facilitator and pro

[2020-09-26 04:04] jen-martin commented on #31
I added a search box that filters both tables at once. Let me know if there should be a separate search box for each table instead.

I added some basic styling to the Tooling table, grouping items together under the category. It makes filtering the table more complex, however. (The simplest solution is to simply keep the category rows visible at all times, which is what I ended up doing.) If folks

[2020-09-30 16:30] bfurner commented on #7
i think this can be closed

[2020-09-30 17:28] monicacecilia commented on #32
Updated paragraph (contributions from @mellybelly and I). :bowtie:

"The CCDH provides leadership and guidance to the CRDC community in data model harmonization as well as terminological use and development. Our team is creating a common data model that is harmonized for use across NCI’s nodes and resources. The foundation of this work will entail reaching an understanding of their requirements fo

[2020-09-30 17:33] nicolevasilevsky commented on #32
I updated this page: https://ccdhportaldev.pedscommons.org/crdcEcosystem

[2020-09-30 17:34] nicolevasilevsky commented on #32
I will close, please reopen if necessary.

[2020-09-30 17:34] #32 closed

[2020-10-07 20:33] nicolevasilevsky opened #33 "combine table on Standards and Tooling page"
@jen-martin can you please combine the tables into one table the Standards and Tooling page?
https://ccdhportaldev.pedscommons.org/node/3

[2020-10-08 19:01] monicacecilia commented on #33
@jen-martin @nicolevasilevsky - this looks fantaaaastic! 🎉
- I just noticed that there is not a link to Ptolemy (is that intended?)

[2020-10-08 19:02] nicolevasilevsky commented on #33
yes

[2020-10-12 16:45] nicolevasilevsky commented on #33
This is done, thanks @jen-martin!

[2020-10-12 16:45] #33 closed

[2020-10-12 16:48] nicolevasilevsky commented on #31
This looks good, thanks @jen-martin.

Since there haven't been any requests for additional styling, I think we can call this good for now and close this ticket.

[2020-10-12 16:48] #31 closed

[2020-10-12 16:50] nicolevasilevsky commented on #13
pinging @jen-martin and @bfurner

[2020-10-12 16:54] nicolevasilevsky commented on #30
this is done, thanks @jen-martin

[2020-10-12 16:54] #30 closed

[2020-10-12 17:52] jen-martin commented on #13
I can add a site "slogan"  via Administration >> Configuration >> System >> Site Details, but I can't seem to find where to finesse the styling. The quick-and-dirty solution would be to edit the header graphic that has the NIH logo so that the tagline is below it. However, I'm not sure that editing the logo graphic is allowed. Any suggestions @bfurner ?

[2020-10-12 17:55] nicolevasilevsky commented on #13
I agree that we probably can't edit the NIH logo.

Thanks for looking into this @jen-martin. I am not sure how critical this is, if you are not able to find a nice solution, then I think we can probably close this ticket.

[2020-10-12 19:38] jen-martin commented on #13
Spoke too soon. I'm working on it now, finessing the layout. Any suggestions for styling?

[2020-10-12 20:24] nicolevasilevsky commented on #13
maybe italics?

[2020-10-12 21:41] jen-martin commented on #13
Changed the font to italics, and the font color to grey. This block is quite customizable (for example: background color, height, font characteristics, etc.) so let me know if there's any other suggestions.

[2020-10-12 21:46] nicolevasilevsky commented on #13
I think it looks good! I think we can close this, unless you would prefer to wait for more feedback

[2020-10-13 15:24] nicolevasilevsky opened #34 "expand requirements gathering"
- need to understand end to end process to examine the gaps
- need to identify requirements and gaps
- Need a sub-group (multiple workstreams) to perform this work

[2020-10-13 16:26] nicolevasilevsky opened #35 "web portal changes needed"
Per Sherri:

- [x] standards and tooling table should have NCIt and NCIm as abbreviations, she is checking with Lyuba to verify (I see also that NCIt is shown in section beneath with abbreviation).

- [x] need a better description for Ptolemy.V @gaurav could you write this? Here is some text to get you started: Ptolemy matches variables and values, (not just values) – and also, it is configured to

[2020-10-13 21:01] gaurav commented on #35
How's this:
"A closed-source tool for mapping columns in datasets to common data elements from sources such as the caDSR. For enumerated fields, users can use a drag-and-drop interface to harmonize values in datasets to permitted values specified in the data element. Currently in a closed pilot."

@balhoff What do you think?

[2020-10-13 21:08] balhoff commented on #35
That sounds good to me.

[2020-10-13 21:11] nicolevasilevsky commented on #35
Thanks Gaurav and Jim! I updated the website:
https://ccdhportaldev.pedscommons.org/standardsTooling

[2020-10-13 21:23] #35 closed

[2020-10-13 21:24] nicolevasilevsky opened #36 "add tools to Standards and Tooling page?"
- [ ] Per Sherri - for a future version, we should ask Lyuba to discuss whether the new EVS API should be included as well as OLS.  (It runs against triple store, and recently in production).

[2020-10-14 13:43] nicolevasilevsky opened #37 "Add content to Standards and Tooling page"
From Sherri:
Add how the list (1) how it is ‘curated’; (2) what users might expect to find here in the future –
Such as guidance on when to consider using something for what – and (3) later on, any Recommendations or Requirements for standards use by CRDC.

[2020-10-15 19:32] nicolevasilevsky opened #38 "feedback from NCI team re: web portal"
-  [x] The information is overlapping for “CCDH Team and Organization” and “Workstreams” pages. Is there a way to combine them?  Since many members overlap in workstreams, is it better to list all the team members and indicate which workstreams that they are part of?
- [x] e.g. have one table for the members following the Leads and the Workstream description all on one page
- [x] We don’t need to

[2020-10-15 22:30] jen-martin commented on #38
I reformatted the Phase 1-Phase 4 timeline graphic into an HTML table to make the fonts easier to read. I also inserted the summary/overview for each phase into the table. If the summary/overview works better as paragraphs, let me know. I saved the original text (hidden behind comment tags) in case the original is more desirable.
Also, if there are better colors for the table, I can change that; I

[2020-10-19 16:38] nicolevasilevsky commented on #26
Content is added for each workstream here:
https://ccdhportaldev.pedscommons.org/ccdhTeamOrganization

[2020-10-19 16:38] #26 closed

[2020-10-19 16:43] nicolevasilevsky commented on #6
closing - this is no longer needed

[2020-10-19 16:43] #6 closed

[2020-10-19 16:43] #3 closed

[2020-10-19 16:43] #13 closed

[2020-10-19 16:50] monicacecilia commented on #38
WRT CRDC Ecosystem: we now have an updated document with information about CRDC structure. I suggest that we update the contents of this page https://ccdhportaldev.pedscommons.org/crdcEcosystem with what's on the document that Fed Oversight team prepared.

[2020-10-19 16:54] monicacecilia commented on #38
WRT Project Timeline:
- Yes, the [Project Tracker page](https://cancerdhc.github.io/) will eventually replace the timeline currently available on https://ccdhportaldev.pedscommons.org/timeline - and it will contain more detail.

[2020-10-19 17:00] monicacecilia commented on #38
WRT Standards & Tooling:

Yes, it will.

It is indeed a list of resources. We don't yet have available tools created by the CCDH team to recommend, however, we believe it is important to offer as much information to the community as we can - given what is currently available.

Sure. we'll have a think about updating the categorization. your suggestions are welcome!

The list is the result of the c

[2020-11-09 18:41] #38 closed

[2021-01-14 19:46] bfurner opened #40 "Include "link back" element at top of CCDH Web Portal"
All CRDC sites are now being directed to include a NAV element at the top of their sites with the text "NCI Cancer Research Data Commons" that links back to the CRDC main web site (https://datacommons.cancer.gov/).  See examples of the required element here:

GDC [link](https://gdc.cancer.gov/)
PDC [link](https://pdc.cancer.gov/pdc/)

[2021-01-14 19:51] bfurner opened #41 "Review and update workstream membership on web portal"
Resham noted that there seem to be some mistakes in where individuals are placed in workstreams on our web portal's "Team" page [here](https://harmonization.datacommons.cancer.gov/ccdhTeamOrganization)

The issues appear in the table on that page.  For example, Sam Volchenboum is listed under "Data Model Harmonization", Chris Chute is *not* listed under "Data Model Harmonization", etc.

[2021-01-15 06:01] bfurner commented on #40
Added and checked in to the CBIIT repo.
Deployed to ccdhportaldev
Will deploy to NCI CloudOne dev and qa tiers when we are ready with the other issue #41

[2021-01-21 19:51] bfurner opened #42 "Upgrade Drupal Core to version 8.9.13 to address critical security advisory"
Link to security advisory [here](https://www.drupal.org/sa-core-2021-001)

[2021-01-22 18:29] monicacecilia commented on #25
:bowtie:

[2021-01-22 18:29] #25 closed

[2021-01-27 02:34] nicolevasilevsky commented on #41
I updated this page:
https://ccdhportaldev.pedscommons.org/ccdhTeamOrganization

Please reopen if more changes are needed

[2021-01-27 02:34] #41 closed

[2021-01-27 17:38] nicolevasilevsky commented on #36
emailed Lyuba on 01/27/21

[2021-01-27 17:40] nicolevasilevsky commented on #37
pinged tools workstream on Slack on 01/26/21

Should be discussed on an internal call

[2021-01-27 18:55] nicolevasilevsky commented on #36
https://ccdhportaldev.pedscommons.org/standardsTooling

done

[2021-01-27 18:55] #36 closed

[2021-01-27 19:03] nicolevasilevsky opened #43 "CCDH website: Create new page to discuss CRDC-H, Terminology Services, and Validation Tool(s)"
https://cancerdhc.github.io/ccdhmodel/

as part of our documentation

[2021-01-27 21:11] monicacecilia commented on #37
@nicolevasilevsky - if you'd like, please add this to next week's agenda. Thank you! 😉

[2021-01-28 05:02] bfurner commented on #42
Completed with the release of v1.1.0 on 01/27/2021

[2021-01-28 05:02] #42 closed

[2021-01-28 05:02] bfurner commented on #40
Completed with the release of v1.1.0 on 01/27/2021

[2021-01-28 05:02] #40 closed

[2021-01-28 05:05] bfurner commented on #43
Where should this information go?

[2021-01-28 17:31] nicolevasilevsky commented on #43
I'm not sure. @bfurner I wasn't on the last internal call, was there any discussion about where to house the documentation for this project? Is it going to be in GitHub and then linked from the website?

cc @monicacecilia

[2021-02-03 17:27] nicolevasilevsky commented on #37
https://ccdhportaldev.pedscommons.org/standardsTooling

[2021-02-15 03:42] nicolevasilevsky opened #44 "CCDH Website Edits from NCI/FNL (2021-02-14)"
From Resham:
CCDH Web portal: https://harmonization.datacommons.cancer.gov/

~~- [ ] Add details on the Harmonized model (CRDC-H). And emphasize the Concierge Services – the service is listed but buried under several links and not well explained. @bfurner~~ | Details about request are now in #43 and #47

~~- [ ] Consider rewording: Under About CCDH, “The NCI’s Center for Cancer Data Harmonization

[2021-03-26 19:35] jen-martin commented on #44
How do you want the link to the CRDC Ecosystem changed, and should it be placed elsewhere in the menu?

Is "CRDC Ecosystem [external]" what folks had in mind for this?
Should it stay where it is in the menu, or perhaps be moved to the bottom of the list of items, or elsewhere in the menu?

[2021-03-26 19:37] jen-martin commented on #44
Which contact information should go in the footer, the email address or slack link? Or, should a separate Contact page be created with both links?

[2021-03-30 16:15] nicolevasilevsky commented on #44
@jen-martin these are requests from Resham, could you please ask her for clarification? Do you have her email?

[2021-03-30 16:23] nicolevasilevsky commented on #44
I interpret this is as adding a contact us link in this space below. There already is a separate contact us page, right? Maybe just create another link at the bottom of the page that links to that? Again, I think Resham will be able to better clarify though.

Thanks for doing this, @jen-martin!

![image](https://user-images.githubusercontent.com/6722114/113021657-a8231680-9138-11eb-9f99-2288d7bde4

[2021-03-31 21:40] jen-martin commented on #44
@nicolevasilevsky: No, we currently don't have a separate Contact Us page. The "Contact Us" menu item is a mailto:centerforcancerdh@gmail.com link rather than a stand-alone page.

I'll ask Resham for clarification.

[2021-03-31 21:44] bfurner commented on #44
adding @dvenckusuchgo to this so she is aware

[2021-04-21 17:43] monicacecilia commented on #44
@jen-martin @dvenckusuchgo 👀  ⬆️

[2021-04-22 03:28] monicacecilia opened #45 "CCDH Website: Edit intro text in landing page"
URL: https://harmonization.datacommons.cancer.gov/

What To Do:
- [x]  Replace all the text with the following:

The CCDH serves three main roles within the Cancer Research Data Commons (CRDC) ecosystem:
- Facilitate retrospective and prospective semantic harmonization of data across nodes of the CRDC.
- Coordinate the community to ensure quality “fit for purpose” design and implementation of stan

[2021-04-22 03:37] monicacecilia opened #46 "CCDH Website: Update TopLevel Menus"
URL: https://harmonization.datacommons.cancer.gov/

What to do:
- [x] Create TopLevel Menu `CCDH Resources`  with the following submenus:
~~- CRDC-H~~
~~- Terminology/codeset services~~
~~- Tools to validate and transform data~~

- [x] Change TopLevel Menu `Standards and tools`  to  `Additional resources`

[2021-04-22 03:38] monicacecilia commented on #44
@jen-martin - please se #45 for details about updating text for the introduction in the landing page.

[2021-04-22 06:16] monicacecilia opened #47 "CCDH Website: Update information in 'Concierge' page"
URL: https://harmonization.datacommons.cancer.gov/support

What To Do:
- [x] Update TopLevel Menu to `Concierge` to replace current `Support` menu.
- [x] Make the role of CCDH clearer. That is, add text explaining that the tools we create and the support we provide are NOT directly harmonizing. Rather, we provide the tools and services to empower end users to do so.
- [x] Add a link to information

[2021-04-22 06:35] monicacecilia opened #48 "CCDH Website: Update information in 'Team and Organization' page"
URL: https://harmonization.datacommons.cancer.gov/ccdhTeamOrganization

What to do:
- [x] Update all instances of `Oregon Health and Sciences University` and all instances of `Oregon State University` to `University of Colorado.`
- [x] Update the table of team members to remove: Laura Christopherson, Richard Zhu, Steven Cox, Davera Gabriel
- [x] Update the table of team members, institutions, and

[2021-04-22 06:47] monicacecilia opened #49 "CCDH Website: Update Standards and Tooling Page"
URL: https://harmonization.datacommons.cancer.gov/standardsTooling

What to do:
- [x] Break out CRDC resources from all other resources
- [ ] Tile the tools on with logos on the tools page (similar to CRDC tools page)
- [ ] Include a few words explaining which nodes have adopted these tools / standards and which are considering.

Please reach out to @mellybelly via email or IM system for details.

[2021-04-22 06:51] monicacecilia commented on #34
http://bit.ly/crdc-e2e-summary :bowtie:

[2021-04-22 06:51] #34 closed

[2021-04-22 06:55] monicacecilia commented on #49
- [ ] Add how the list is ‘curated’
- [ ] Add what users might expect to find here in the future, such as guidance on when to consider using 'which tool' for 'what'
- [ ] Later on, add recommendations or requirements for use of standards  by the wider CRDC community

(requests from Sherri de Coronado, around 2020/10)

[2021-04-22 06:56] monicacecilia commented on #37
Dupe of #49 - closing this one.

[2021-04-22 06:56] #37 closed

[2021-04-22 16:45] monicacecilia opened #50 "CCDH Website: Update the 'About' page"
URL: https://harmonization.datacommons.cancer.gov/about

What to do:
- [x] Bundle all sub-menu items under the TopLevel Menu `About` into sections within the same web page. Make sure this page is linked from the TopLevel Menu `About.`
- [x] Remove the `CRDC Ecosystem` submenu item from the list.
- [x] Add text at the bottom of the page that notes `CCDH is part of the NCI Cancer Research Data Commo

[2021-04-22 16:46] nicolevasilevsky commented on #45
I updated this:
https://ccdhportaldev.pedscommons.org/node/14

Reassigning to @DaveraGabriel for review

[2021-04-22 16:56] nicolevasilevsky commented on #48
done - assigning to @dvenckusuchgo for review, thanks!

[2021-04-22 17:27] gaurav commented on #49
It might make sense to split this content into three pages:
- Standards and tooling built by us: I imagine this as a page with short descriptions of each tool, and with links to the Github repositories or published documentation so readers can use them. The Tools team is [writing up our stuff](https://docs.google.com/document/d/16_HE_2ciDPJstd75ivbUTL22Sez-WGOBA6anT9qUoKM/edit) at the moment, and

[2021-04-22 17:42] monicacecilia opened #51 "CCDH Website: Add 'Contact Us' link to the footer"
- [ ] Add a link to the new `Contact Us` page from the footer. The URL for that page will be `https://harmonization.datacommons.cancer.gov/contact`

[2021-04-22 17:43] monicacecilia commented on #44
Some updates from @jen-martin's brilliant work:
- we now have a Contact Us page. 🎉
- footer is better laid out. Still need to add link to `Contact Us` page, see #51

[2021-04-22 18:37] monicacecilia opened #52 "CCDH Website: Update 'FAQs' page"
- [x] Link the answer for _"When will this be ready?”_ to the 'About' page section with the timeline.
- [x] Add new questions and answers such as:
  - What is data harmonization? --> refine a couple paragraphs for an answer with help from @volcs0, @cgchute, @mellybelly
  - How can nodes learn more about CRDC-H? --> link to CRDC-H documentation within CCDH website
  - How is CCDH using terminologie

[2021-04-22 18:38] monicacecilia commented on #44
The items in this ticket have been replaced with #45, #46, #47, #48, #49, #50, #51, and #52
Closing to avoid redundancy.

[2021-04-22 18:38] #44 closed

[2021-04-22 21:06] nicolevasilevsky opened #53 "add additional presentations to website"
Title: Center for Cancer Data Harmonization: Bringing harmony to cancer data across the CRDC
Summary: The American Medical Informatics Association (AMIA) held a panel titled, Global research consortia and data harmonization projects drive the clinical interpretation of cancers. Dr. Melissa Haendel shared an update on CCDH’s current efforts to synchronize the representation of cancer data across al

[2021-04-22 21:07] #53 closed

[2021-04-22 23:03] nicolevasilevsky commented on #47
I did the things I could on this ticket - removing myself now

[2021-04-22 23:15] nicolevasilevsky commented on #47
I added some text to the top of this page, please let me know if specific revisions are needed:
https://ccdhportaldev.pedscommons.org/node/5

[2021-04-22 23:16] nicolevasilevsky commented on #47
It seems unintuitive to me to remove the contact us page- I wouldn't know to go to the concierge page to find the contact info.

[2021-04-22 23:17] nicolevasilevsky commented on #46
I am unassigning myself b/c I don't know how to do these things and I don't want to mess up the site!

[2021-04-23 05:43] monicacecilia commented on #47
@mellybelly asked to please merge `Contact Us` and `Support` (now `Concierge` page). Perhaps she can share some additional perspective.

[2021-04-23 14:36] dvenckusuchgo commented on #45
@monicacecilia I'm looking at 3 paragraphs of text on the front page. Was ALL text in the body of the front page to be replaced with this 1 paragraph/bullet-points above the graphic?

[2021-04-23 15:41] nicolevasilevsky opened #54 "add newsletters to website"
In the 'Concierge' page in the CCDH website, create a section dedicated to our Newsletter, with links to web versions of the Newsletter. Link this item to that page.

In progress, see
https://ccdhportaldev.pedscommons.org/node/5

[2021-04-23 15:50] dvenckusuchgo commented on #51
Which style is preferred for adding the additional 'Contact Us' link in the footer?
[variation #1](https://drive.google.com/file/d/1RPpmc7GWtAhMZR_yfKomKNQJO0tgN6e5/view?usp=sharing)
[variation #2](https://drive.google.com/file/d/1_XQOnamR7pNTotXuMsx0cUVTnPvF9FZH/view?usp=sharing)
[variation #3](https://drive.google.com/file/d/1gPKasLSCL5IOc85BcBBBiNwQj_AN7os8/view?usp=sharing)
[variation #4](http

[2021-04-23 16:25] dvenckusuchgo commented on #46
Menu items revised and corresponding pages added as placeholders.

[2021-04-23 16:28] dvenckusuchgo commented on #43
Pages have been created under "CCDH Resources" top menu, awaiting content.

[2021-04-23 18:00] dvenckusuchgo commented on #52
Changes to content made.  Passing to @monicacecilia for review

[2021-04-23 18:13] dvenckusuchgo commented on #50
@monicacecilia Any guidance on the order of the subsections of the "About CCDH" page?  Should it follow the menu order?

[2021-04-23 18:47] dvenckusuchgo commented on #48
Changes look good.  Passing to @monicacecilia for review.  (For these review tickets, do we want to add a "work completed" or "read to deploy" label?  We can return after everything is pushed to production, confirm the changes, and close the deployed tickets)

[2021-04-23 19:09] dvenckusuchgo commented on #47
Worked on the remaining items.  I had a question about where to link in the CRDC-H page (/crdc-h).  There is a reference to CRDC in the top paragraph.  That's where I linked it.  If this is incorrect, please let me know.  I'll correct it.  Passing to @monicacecilia for review

[2021-04-26 18:14] dvenckusuchgo commented on #45
Would something like this work...
[https://drive.google.com/file/d/1onWavbTH2f--YkUNaY0noW-V2tDHP14u/view?usp=sharing](CCDH - Three Main Roles)

[2021-04-26 18:59] dvenckusuchgo commented on #54
Added the newsletter links and reordered the contact information under /concierge.  Left a placeholder for the April/May 2021 newsletter

[2021-04-26 20:14] dvenckusuchgo opened #55 "CCDH Website: Add Block, Call to Action, Join Us on Slack"
Create a block that appears on (right sidebar, restricted from some pages)
"Join Us on Slack" with the Slack logo and link to sign up.

This is a code & content issue.

[2021-04-30 20:50] nicolevasilevsky opened #56 "add HioH recording to website"
https://lbnl.zoom.us/rec/share/bEyifBV-pUVrhZTxDwRXTkbW8dDDxiiG8R-N-J4DJCaFo1khvDGGAr4EEPUtJY4.KnlB3FDtV1JGCy4Q

[2021-05-01 19:15] dvenckusuchgo commented on #56
Added the recording under Concierge and Presentations

[2021-05-03 19:43] dvenckusuchgo commented on #46
Waiting for content.  The menus/pages exist, but are hidden until we have content to deploy.

[2021-05-05 18:23] dvenckusuchgo commented on #56
Deployed to production

[2021-05-05 18:23] #56 closed

[2021-05-05 18:24] dvenckusuchgo commented on #54
Deployed to Production

[2021-05-05 18:24] #54 closed

[2021-05-05 18:25] dvenckusuchgo commented on #52
Deployed to Production

[2021-05-05 18:25] #52 closed

[2021-05-05 18:26] dvenckusuchgo commented on #48
Deployed to Production

[2021-05-05 18:26] #48 closed

[2021-05-05 18:33] dvenckusuchgo commented on #47
Deployed to Production

[2021-05-05 18:33] #47 closed

[2021-05-05 18:37] dvenckusuchgo commented on #43
Refer to gh-46

[2021-05-05 18:38] dvenckusuchgo commented on #46
Refer to gh-43

[2021-05-05 20:08] nicolevasilevsky commented on #49
@gaurav this is the page:
https://harmonization.datacommons.cancer.gov/additional-resources

[2021-05-05 20:12] nicolevasilevsky commented on #49
I like your proposed changes @gaurav. Do you want to move forward with this or do you want to wait for approval from @monicacecilia? She' back next week. I think the goal is to have these changes in by the May 31 deliverable

[2021-05-10 16:00] dvenckusuchgo opened #57 "CCDH Website: Home page restyling"
I was told the the ccdh web portal inherits its style from [https://datacommons.cancer.gov](https://datacommons.cancer.gov).  In comparing the two sites, It's apparent [https://ccdhportaldev.pedscommons.org](https://ccdhportaldev.pedscommons.org) needs more "art" on the home page.  There are some nice design elements on datacommons that we could allude to on ccdh web portal.  Such as...

- Top tex

[2021-05-10 18:24] dvenckusuchgo opened #58 "CCDH Website: Add a Glossary"
Seems like it would be very useful to add a glossary of terms that can be linked to from other pages.

I will be setting up the page/menu structures for this.  Please share terms & definitions that should be included.

[2021-05-10 19:08] nicolevasilevsky commented on #58
Here some terms we could add:
- **controlled vocabulary**: A way to organize knowledge for subsequent retrieval. They are used in subject indexing schemes, subject headings, thesauri, taxonomies and other knowledge organization systems. Controlled vocabulary schemes mandate the use of predefined, authorised terms that have been preselected by the designers of the schemes, in contrast to natural la

[2021-05-10 19:59] nicolevasilevsky commented on #57
I love all of these ideas!

[2021-05-12 04:11] gaurav commented on #49
Thanks, Nicole! Here's the current status:
* Standards and tooling built by us: we've finished a [write-up of two of the components we're currently building](https://docs.google.com/document/d/16_HE_2ciDPJstd75ivbUTL22Sez-WGOBA6anT9qUoKM/edit). I've started writing up the third component I've been working on; I think it should be done in a day or two.
* Standards and tooling that we recommend: tha

[2021-05-17 17:35] monicacecilia commented on #58
Here's a [spreadsheet we have in our Internal CCDH folder](https://docs.google.com/spreadsheets/d/1B0f1rE5SAkPfOsE0M22QWTDx-z3_gkLvJn6AyVltco0/edit#gid=1364170751).

[2021-05-17 21:36] gaurav commented on #49
All three of the Tools team components have [now been summarized](https://docs.google.com/document/d/16_HE_2ciDPJstd75ivbUTL22Sez-WGOBA6anT9qUoKM/edit) for the website.

[2021-05-18 00:25] dvenckusuchgo commented on #58
I have set up the Glossary view page settings, vocabulary and menu links.  Glossary terms are added through the Glossary vocab https://ccdhportaldev.pedscommons.org/admin/structure/taxonomy/manage/glossary/add.  I have not added the terms from the spreadsheet yet, but it's on my radar.

[2021-05-18 00:28] dvenckusuchgo commented on #51
Let's go with [variation #1](https://drive.google.com/file/d/1RPpmc7GWtAhMZR_yfKomKNQJO0tgN6e5/view?usp=sharing)

[2021-05-18 14:59] gaurav commented on #49
For the "Standards and tooling currently in use", we could add some text to https://harmonization.datacommons.cancer.gov/additional-resources to indicate which of these standards are currently being used in CRDC nodes. Would that be useful?

[2021-05-19 03:53] nicolevasilevsky opened #59 "[bug] link to ICD is broken"
**Description of bug**
should be replaced with https://www.who.int/standards/classifications/other-classifications/international-classification-of-diseases-for-oncology

**Website/URL (if applicable)**
https://harmonization.datacommons.cancer.gov/additional-resources

**Operating system and/or browser (if applicable)**
For example: Mac OS/Chrome
Mac/Chrome

[2021-05-19 03:53] nicolevasilevsky opened #60 "[bug] remove ERO from standards list"
**Description of bug**
ERO is no longer developed, we shouldn't be promoting it.

**Website/URL (if applicable)**
https://harmonization.datacommons.cancer.gov/additional-resources

[2021-05-20 17:03] keblumhardt commented on #43
Terminology content:
- [ ] Introductory information blurb
- [ ] Add documents to be included

[2021-05-21 15:02] dvenckusuchgo commented on #60
ERO removed from the Additional Resources grid.
- eagle-i Resource Ontology
- http://bioportal.bioontology.org/ontologies/ERO
- ERO
- ERO models research resources such instruments. protocols, reagents, animal models and biospecimens. It was developed in the context of the eagle-i project.

[2021-05-21 15:06] dvenckusuchgo commented on #59
Link corrected for ICD-O in Additional Resources grid

[2021-05-21 15:07] dvenckusuchgo opened #61 "CCDH Website Add Glossary Terms"
Here's a [spreadsheet we have in our Internal CCDH folder](https://docs.google.com/spreadsheets/d/1B0f1rE5SAkPfOsE0M22QWTDx-z3_gkLvJn6AyVltco0/edit#gid=1364170751).

_Originally posted by @monicacecilia in https://github.com/cancerDHC/community-development/issues/58#issuecomment-842506528_

[2021-05-21 15:09] dvenckusuchgo commented on #58
The main glossary structures are in place.  Moving the task of adding the terms from the spreadsheet into it's own ticket gh-61

[2021-05-24 17:59] nlharris opened #62 "CCDH Website: Add "Guidelines for professional behavior" link to FAQ"
Reminder to add something to the FAQ about "Guidelines for professional behavior" (as described in Support Service and Engagement Plan)

[2021-05-24 18:03] nlharris opened #63 "CCDH Website: Add definition for 'data harmonization' and explanation of 'how CCDH uses terminologies' to the FAQ"
reminder to add definition of data harmonization and explanation of how ccdh is using terminologies to the FAQ.

[2021-05-24 21:10] monicacecilia commented on #46
- Please change this: keep only Top Level Menu, no submenus, and keep the page at /ccdh-resources
- Documentation can be found [here](https://docs.google.com/document/d/16_HE_2ciDPJstd75ivbUTL22Sez-WGOBA6anT9qUoKM/edit#heading=h.vnuhpxuwxywn).
- Figure was part of our slides, [here](https://docs.google.com/presentation/d/1q_DNECDZvg2DP1YMf11YEyiMhr3wdK10kwExDA2WbnE/edit#slide=id.gc7fc2f4315_0_4).

[2021-05-24 21:12] monicacecilia commented on #43
All documentation is being captured [here](https://docs.google.com/document/d/16_HE_2ciDPJstd75ivbUTL22Sez-WGOBA6anT9qUoKM/edit#).

[2021-05-24 21:20] monicacecilia commented on #45
[Here](https://docs.google.com/presentation/d/1qcUO98MWqM0OkosQbaYBng9ybySEXYCUYrIjrtBIJMo/edit#slide=id.g632248c723_0_15) are some graphics we could use.

[2021-05-24 21:26] monicacecilia commented on #50
- Yes, it should follow the menu order.
- Please update to two submenu items: 1) About ; 2) CCDH Team and Organization
- The rest gets consolidated into one page.

Thank you! 🌷

[2021-05-24 21:32] monicacecilia commented on #51
Yes, [variation #1](https://drive.google.com/file/d/1RPpmc7GWtAhMZR_yfKomKNQJO0tgN6e5/view) works; please let's make sure to link the words ```Contact CCDH``` to this page: https://ccdhportaldev.pedscommons.org/concierge

[2021-05-24 21:47] monicacecilia commented on #49
Thank you all for your comments and suggestions.

Given the time we have, I propose that we:
- keep this page and create one additional page (see #43 and #46).
- Update the 'Additional Resources' page (formerly 'Standards and tooling' with this text from Gaurav:
  - ```The CCDH aims to provide relevant standards and tooling for the CRDC community. To do this, we rely on a number of useful standard

[2021-05-24 21:56] monicacecilia commented on #61
Dear @dvenckusuchgo - let's use the acronyms in the 'CCDH view' tab, [here](https://docs.google.com/spreadsheets/d/1B0f1rE5SAkPfOsE0M22QWTDx-z3_gkLvJn6AyVltco0/edit#gid=438806648).

[2021-05-24 22:05] monicacecilia commented on #58
Dear @dvenckusuchgo:
- let's please update the submenu to ```Glossary and Acronyms```
- remember to check on possible bug that's impeding alphabetic sorting

[2021-05-24 22:06] monicacecilia commented on #59
:bowtie:

[2021-05-24 22:06] #59 closed

[2021-05-24 22:58] monicacecilia commented on #60
Thank you @dvenckusuchgo ! :bowtie:

[2021-05-24 22:58] #60 closed

[2021-05-24 23:20] monicacecilia commented on #62
Dear @dvenckusuchgo, please let's add this entry to the FAQ:

Question: ```Does the CCDH team observe a Code of Conduct?```

Answer: ```Yes. To encourage professional interactions at all levels, all members of CCDH, and all members of the community interacting with our team must agree to observe guidelines for professional behavior that encourages a respectful and collegiate environment. The Leido

[2021-05-24 23:24] monicacecilia commented on #63
Dear @bfurner, kindly asking for some pointers to where we could find some description about what 'Data Harmonization' is (in a general sense) - for the FAQ page. @keblumhardt, perhaps we could grab some text from the presentation Melissa and Sam gave during the _Homing in on Harmonization_ session and see if Brian can work from there?

[2021-05-24 23:24] monicacecilia commented on #63
Dear @jiaola, kindly asking for assistance answering the question: "How does CCDH use terminologies?" for the FAQ.

[2021-05-24 23:40] nicolevasilevsky commented on #61
@dvenckusuchgo @monicacecilia I added all of the abbreviations in the spreadsheet to drupal

[2021-05-25 02:40] dvenckusuchgo commented on #62
Code of Conduct FAQ added

[2021-05-25 03:15] dvenckusuchgo commented on #61
Sorting and paging have been added.  More styling is needed, but that will come in a follow up release

[2021-05-25 03:31] monicacecilia commented on #62
:bowtie:

[2021-05-25 03:31] #62 closed

[2021-05-25 03:39] monicacecilia opened #64 "CCDH Website: Update linkout for Top Level Menu 'FAQs' and title for submenu 'Glossary'"
**Description of bug**
1. The top level menu 'FAQs' goes to a _'Page not found'_ error. It wrongly directs the user to /faqs when it should be sending users to /faq (without the 's' at the end). Please update.

2. Please update the title of the submenu item ```Glossary``` to ```Glossary and Acronyms``` as you did for the page header in /glossary

**Website/URL (if applicable)**
/faqs
/glossary

**

[2021-05-25 03:47] dvenckusuchgo commented on #64
Fixed.

[2021-05-25 04:43] dvenckusuchgo commented on #50
Revisions completed.

[2021-05-25 04:53] dvenckusuchgo commented on #49
Completed for Phase 2

[2021-05-25 15:44] monicacecilia commented on #50
Thank you @dvenckusuchgo - just found a tiny, tiny bit to update.
On the list of institutions at the top of the 'About' page, could I kindly ask that you please take out:
- Oregon State University
- Oregon Health & Science University
And add:
- University of Colorado

Thank you! 🌷

[2021-05-25 15:46] monicacecilia commented on #49
So brilliant! Thank you!! 🌷

[2021-05-25 15:46] monicacecilia commented on #49
:bowtie:

[2021-05-25 15:46] #49 closed

[2021-05-25 15:47] monicacecilia commented on #64
Thank you! 🌷

:bowtie:

[2021-05-25 15:47] #64 closed

[2021-05-25 15:48] dvenckusuchgo commented on #50
Revisions to list of institutions completed

[2021-05-25 15:51] monicacecilia commented on #61
This is brilliant. Thank you both! 🌷
I'm calling this 'cooked' - :bowtie:

[2021-05-25 15:51] #61 closed

[2021-05-25 15:52] monicacecilia commented on #50
Thank you!! 😄  🌷
:bowtie:

[2021-05-25 15:52] #50 closed

[2021-05-25 15:53] monicacecilia commented on #58
@dvenckusuchgo completed all of this.
:bowtie:

[2021-05-25 15:53] #58 closed

[2021-05-25 16:12] dvenckusuchgo commented on #51
Change made to footer template in code.  Committed to [ccdhwebportal-33](https://github.com/CBIIT/ccdhwebportal/issues/33)

[2021-05-25 17:21] monicacecilia commented on #63
- WRT 'data harmonization' - let's take some text from the HioH session and link to the slides.

[2021-05-25 17:26] monicacecilia commented on #63
New FAQ:

Question: ```What is Data Harmonization?```

Answer: ```Data harmonization is a process that aims to achieve alignment and concordance among multiple data sets such that equivalent data elements (e.g. 'tissue_or_organ_of_origin' and 'primary_disease_site') are represented in an equivalent manner (i.e. using the same value set). This facilitates tasks such as query, retrieval, and aggrega

[2021-05-25 18:34] dvenckusuchgo commented on #63
FAQ revision completed.

[2021-05-25 18:35] dvenckusuchgo commented on #46
Requires a code update

[2021-05-25 20:19] dvenckusuchgo commented on #45
There's not enough time to work in the graphics.  I made the content changes, but we're going to have to bump the home page design changes to Phase 3.  By then I'll have the theming problem corrected.
Also: gh-57, gh-55

[2021-05-25 20:21] dvenckusuchgo commented on #57
Incorporate graphic elements from 3 points as suggested by Moni https://github.com/cancerDHC/community-development/issues/45#issuecomment-847343249

[2021-05-25 20:23] #63 closed

[2021-05-25 20:28] monicacecilia opened #65 "CCDH Website: Add explanation of 'how CCDH uses terminologies' to the FAQ"
**Description:**
Please add explanation about 'how CCDH uses terminologies' to the FAQ
Leftover from #63

**Website/URL (if applicable)**
https://ccdhportaldev.pedscommons.org/faq

[2021-05-25 20:34] dvenckusuchgo commented on #65
I can't seem to find the Answer text for "how CCDH uses terminologies".  I that content we're still waiting on?

[2021-05-25 20:38] #46 closed

[2021-05-25 20:38] #51 closed

[2021-05-25 20:38] #45 closed

[2021-05-25 21:45] monicacecilia commented on #65
Yes, we are still waiting on this.

[2021-05-26 05:49] monicacecilia commented on #43
This ticket may still be quite volatile - the way the documentation is growing may have an impact on content organization. We may need to rethink our ‘merged’ state… 😞
We will need to capture a lot of information, so instead of splitting content by workstream, we may need to group  / organize the content by subject.
Though I can see making an argument for keeping everything on the same page, maybe

[2021-05-26 15:11] dvenckusuchgo commented on #65
I unpublished this specific FAQ Q/A for deployment.  If we get the content later, I can manually add it on the production site and re-publish that bit.

[2021-05-26 16:19] nicolevasilevsky commented on #43
I think a thick bar in the middle of the page makes sense

[2021-05-26 16:45] hsolbrig commented on #65
Apologies - didn't realize it was that urgent.   Just need to consult w/ Dazhi before I finish it up... sorry

[2021-05-26 17:44] hsolbrig commented on #65
CCDH uses terminologies to define and validate the classes, properties and, where appropriate, enumerated values in the models.  As an example, the GDC class, `Analyte` references the NCIt concept [Specimen](https://ncit.nci.nih.gov/ncitbrowser/ConceptReport.jsp?dictionary=NCI%20Thesaurus&code=C19157).  The `analyte_type` property references a a characteristic that is applicable to `Specimen`, [Ty

[2021-05-26 18:03] monicacecilia commented on #65
@dvenckusuchgo - we have an answer to add to our FAQ.
May I kindly ask that you post this content and re-publish when appropriate? THANK YOU! 🌷

[2021-05-26 18:14] dvenckusuchgo commented on #65
FAQ updated and published on both ccdhportaldev and production.

[2021-05-26 20:52] monicacecilia commented on #65
THANK YOU @dvenckusuchgo!! 🌷

THANK YOU @hsolbrig!! 🌷

[2021-05-26 20:52] #65 closed

[2021-05-26 20:58] monicacecilia opened #66 "CCDH Website: correct link from FAQ to /ccdh-resources"
**Description of bug**
In FAQ page, in the answer to the question ```HOW CAN NODES LEARN MORE ABOUT CRDC-H?``` - the linkout from the word 'CRDC-H' in the answer goes to the wrong place (it still points to the old tab we got rid of). Instead, it should point to our new page: /ccdh-resources

**Website/URL (if applicable)**
https://ccdhportaldev.pedscommons.org/faq

Dear @dvenckusuchgo, please don'

[2021-05-26 21:34] monicacecilia commented on #66
Wowzah! THANKS!! 🌷 😄

:bowtie:

[2021-05-26 21:34] #66 closed

[2021-05-27 17:54] monicacecilia opened #67 "Create new page for Community Interactions SOP"
Create a new page, with a new submenu item labeled as `Community Interactions` under the `Concierge` Top Level menu.
The contents of this page must reflect the section entitled as _Appendix V: Interaction with Client Nodes SOP_ in the _User Support Service and Engagement Plan_ document.

Please use the following title for the new page - instead of the one that appears in the document for appendix

[2021-05-27 18:33] dvenckusuchgo commented on #67
Menu and new page created.  Awaiting content.

[2021-05-27 18:39] monicacecilia commented on #67
Check Slack for content, please! 🌷

[2021-05-27 19:28] dvenckusuchgo commented on #67
New content added (Production + ccdhportaldev).  Please review that the correct content is on the /community-interactions page.  I'm not entirely sure.  Thanks.

[2021-05-27 20:29] dvenckusuchgo commented on #67
Review Statement and Approvals sections added.  Definitions added to glossary and linked into text where possible (Production + ccdhwebportal)

[2021-05-27 21:22] monicacecilia commented on #67
:bowtie:

[2021-05-27 21:22] #67 closed

[2021-05-27 23:16] monicacecilia opened #68 "Update CCDH website release notes"
**Description:**
Please update the release notes for the CCDH website as appropriate

**Website/URL (if applicable)**
https://github.com/cancerDHC/community-development/blob/master/Changes.md

[2021-05-27 23:19] monicacecilia opened #69 "CCDH Website: Update title for community interactions SOP page"
**Description of request:**
Please update current title `SOP for Interactions with NCI Data Nodes` to `Standard Operating Procedure for Interaction with NCI Data Nodes`

**Website/URL:**
https://harmonization.datacommons.cancer.gov/community-interactions

Thank you, and sorry to pester. 🌷

[2021-05-28 15:18] dvenckusuchgo commented on #69
Fixed.

[2021-05-28 22:21] monicacecilia commented on #68
:bowtie:

[2021-05-28 22:21] #68 closed

[2021-05-28 22:23] monicacecilia commented on #69
Thank you! I see it on staging but not in production yet, so I'll keep it open until we make that last push to production.

[2021-05-28 22:25] dvenckusuchgo commented on #69
Fixed on Production

[2021-05-28 22:32] monicacecilia commented on #69
Thank you! :bowtie:

[2021-05-28 22:32] #69 closed

[2021-05-29 00:38] monicacecilia commented on #43
Dear @dvenckusuchgo and @jen-martin , content is now ready and stable. Please post to CCDH website and GH page as appropriate at your earliest. 🌷
Thank you!

[2021-05-29 00:48] monicacecilia opened #70 "CCDH Website: Update figure in landing page"
**Description:**
Please update current figure at https://harmonization.datacommons.cancer.gov/ with new image created on 5/28 (sent you link on Slack).

[2021-05-29 00:51] monicacecilia opened #71 "CCDH GitHub Pages: Update landing page"
**Description:**
Please update content at https://cancerdhc.github.io/ with material from CCDH Resources Google document (link on Slack).
Also, at the top, please add figure created on 5/28 (link on Slack), with the following title:

- **Figure:** The role of CCDH in the wider CRDC environment.

Thank you!

[2021-05-29 03:02] dvenckusuchgo commented on #70
Image updated (Production & ccdhportaldev)

[2021-05-29 03:05] dvenckusuchgo commented on #43
Content updated (Production & ccdhportaldev)

[2021-05-29 03:09] dvenckusuchgo commented on #43
Some of the graphics should be revised at a later time.  They will be difficult to read on smaller screens.

[2021-05-29 21:44] monicacecilia commented on #70
Thank you!
This update is brilliant! :)
May I kindly ask if you could please remove this new image from the /ccdh-resources page, though? (see my note in the source doc if you need more details).

THANKS!  🌷

[2021-05-29 21:53] monicacecilia commented on #43
Thank you @dvenckusuchgo! This is brilliant.

Just a handful of touch up points:
- [ ] please remove figure and legend for 'The role of CCDH in the wider CRDC environment.'
- [ ] please revise headings levels as explained in source Google doc
- [ ] please trim the figure in the section 'Creating NCI Thesaurus (NCIt) interoperability: NCIt-Plus' to remove figure legend (which is part of the figure)

[2021-05-29 22:02] monicacecilia commented on #71
@jen-martin, @mellybelly has requested to please add navigation to `/dashboard` and `/terminology` from the landing page.

Is it possible to add a navigation bar on the left, that captures subsections in the landing page (more or less the way an 'outline' shows up on a Google doc (screenshot with example below), or the navigation headers in ReadTheDocs ([example here](https://cancerdhc.github.io/c

[2021-05-30 03:14] monicacecilia commented on #71
Dear @jen-martin,
@mellybelly has a few more requests, some for the landing page, and some for a new page. Thank you very much in advance for your flexibility. 🌷

---------

- [ ] please create a new markdown page, `/ccdh-resources`
   - [ ] please move the text currently on http://cancerdhc.github.io/ (that is, the text you extracted from the google doc) to this new page, starting with the text f

[2021-05-30 15:28] mellybelly commented on #71
This looks perfect in terms of organization, thanks for reading my mind while i was in transit. @jen-martin let me know if you have any questions or suggestions.

[2021-06-01 15:27] dvenckusuchgo commented on #43
Changes applied to Production + ccdhwebdev

[2021-06-01 16:24] monicacecilia commented on #71
Please update third bullet point to:
- `Find agreement across the CRDC community, determining annotation and harmonization needs, and helping to build quality assurance resources that function across the CRDC.`

[2021-06-01 16:28] dvenckusuchgo commented on #71
Updated text for 3rd bullet point on home page. (Production + ccdhportaldev)

[2021-06-01 16:33] dvenckusuchgo commented on #70
Image removed from top of /ccdh-resources

[2021-06-01 17:06] dvenckusuchgo opened #72 "CCDH Website: Revise FAQ"
Revise FAQ page with the following order:
1) HOW DOES CCDH USE TERMINOLOGIES?
2) WHAT IS DATA HARMONIZATION?
3) HOW CAN NODES LEARN MORE ABOUT CRDC-H?
4) WHAT IS LINKML?
5) WHAT IS THE BEST WAY TO ENGAGE WITH CCDH?
6) WHO DO I CONTACT ABOUT QUESTIONS REGARDING THE DATA MODEL?
7) DOES THE CCDH TEAM OBSERVE A CODE OF CONDUCT?

Unpublish: When will the portal be available?

[2021-06-01 17:07] dvenckusuchgo commented on #72
Revisions made to Production & ccdhportaldev

[2021-06-01 17:56] monicacecilia commented on #71
@jen-martin - this is looking brilliant! 🎉
- Is there any chance we could please add links like those at the top of the landing page to the `/ccdh-resources` and '/terminology' pages as well, so users can navigate to the other pages?
- Alternatively, a `Home` button so people can navigate back?

[2021-06-01 18:14] jen-martin commented on #71
I added a table with a navigation menu to the top of the home page, ccdh-resources, and terminolgy pages:
Home | CCDH Resources | Terminology and Ontology Workstream | Project Task Dashboard

[2021-06-01 18:17] jen-martin commented on #71
This should be complete! Let me know if there should be any other additional modifications/edits

[2021-06-01 18:59] monicacecilia commented on #71
@jen-martin please see @mellybelly's requests from the last few minutes in comm-dev Slack. 🌷

[2021-06-01 21:20] #43 closed

[2021-06-01 21:20] #70 closed

[2021-06-01 21:20] #71 closed

[2021-06-01 21:20] #72 closed

[2021-06-08 04:58] dvenckusuchgo commented on #55
Added to home page.  Considering adding block to right side of Concierge & FAQ pages?

[2021-06-08 05:00] dvenckusuchgo commented on #57
Draft version of restyled homepage now in place for review.  Please share your thoughts.

[2021-06-08 15:14] nicolevasilevsky commented on #57
upon first glance, it looks great!

[2021-06-08 15:16] dvenckusuchgo commented on #57
Thank you!

D

From: Nicole Vasilevsky ***@***.***>
Reply-To: cancerDHC/community-development ***@***.***>
Date: Tuesday, June 8, 2021 at 10:15 AM
To: cancerDHC/community-development ***@***.***>
Cc: Debra Venckus ***@***.***>, Assign ***@***.***>
Subject: Re: [cancerDHC/community-development] CCDH Website: Home page restyling (#57)
Resent-From: ***@***.***>
Resent-Date: Tuesday, June 8, 2021 at 1

[2021-06-11 21:49] #55 closed

[2021-07-01 15:14] keblumhardt opened #73 "Add Homing in on Harmonization sessions to website"
Please add the following information to the "Concierge" page of the website:

[under past]
Title: [Foundations of Data Harmonization](https://docs.google.com/presentation/d/1l0pjEemw8V2Sleh41yohz7FnfELbHxyeiRmwjQaWE8o/edit#slide=id.ge0868dd016_0_0) (slides)
Summary: A continuation from the first Homing in on Harmonization session.
Recording: Foundations of Data Harmonization (multimedia) @monicace

[2021-07-07 15:15] dvenckusuchgo commented on #73
Omitting "Recording:" until we have the link.

[2021-07-08 02:40] keblumhardt commented on #73
@monicacecilia can you add the recording to this ticket when you are able? Thank you!!

[2021-07-12 17:08] monicacecilia commented on #73
I shared the link via email with both of you. 🌷

[2021-07-12 17:37] dvenckusuchgo commented on #73
Recording link added to Staging and Production

[2021-07-12 17:39] #73 closed

[2021-08-11 19:15] keblumhardt opened #74 "Concierge page updates"
Please make the following updates to the concierge page:

- [x] Add pdf for July Newsletter
[CCDH Update - July 2021.pdf](https://github.com/cancerDHC/community-development/files/6970830/CCDH.Update.-.July.2021.pdf)

- [x] Remove session # 3 of Homing in on Harmonization sessions and re-number. (there will be no meeting in August)

Thank you!

[2021-08-13 15:55] dvenckusuchgo commented on #57
As we discussed, here are the screenshots of the front page for each site for comparison and comment.

**Current**
- [Current Design - Desktop](https://drive.google.com/file/d/1SSdkRt4XTBeFuM38lE1_p5cupdkPt726/view?usp=sharing)
- [Current Design - Mobile](https://drive.google.com/file/d/1uoulS9jSgnwXZrZzhTx5lUcNu8GVTKkT/view?usp=sharing)

**Proposed**
- [Proposed Design - Desktop](https://drive.go

[2021-08-13 16:25] dvenckusuchgo commented on #74
Updated on Staging/Sandbox and Production sites.

[2021-08-23 14:37] #74 closed

[2021-08-23 18:04] monicacecilia opened #75 "Update Team & Organization page"
**Description of bug**

Please update the following:

Comm-dev WS:
- swap Nicole out, Kat in (title: Community Engineer) (mind the affiliation)

Tools & Data Qual WS:
- swap Jim out, Gaurav in (title: Lead) - same affiliation

Terminologies WS:
- swap Harold out, Dazhi in (title: Lead) - same affiliation

From the table, remove:
- Harold
- Monica P
- Maura
- Jen M

add:
- Joe Flack
- Bill Duncan
-

[2021-08-24 03:45] dvenckusuchgo commented on #75
Draft revisions made to [Sandbox site](https://ccdhportaldev.pedscommons.org/ccdh-team-organization)

[2021-08-24 14:33] dvenckusuchgo commented on #75
**To Do**
Missing Affiliations & Workstreams:
- Joe Flack
- Bill Duncan
- Sujay Patil

Missing Profile Photos:
- Kathryn Blumhardt
- Gaurav Vaidya
- Dazhi Jiao

[2021-08-24 16:10] keblumhardt commented on #75
Joe Flack; Johns Hopkins University; Data Model Harmonization, Ontology and Terminology
Bill Duncan; Lawrence Berkeley National Lab; Data Model Harmonization
Sujay Patil; Lawrence Berkeley National Lab; Data Model Harmonization, Ontology and Terminology

Kat photo:
![E2](https://user-images.githubusercontent.com/57538503/130651673-d7dbe2f8-972c-46ea-b093-bb70fd2604cb.jpg)

[2021-08-24 16:10] keblumhardt commented on #75
wow, did not realize that photo would post that way. does that work @dvenckusuchgo ?

[2021-08-24 16:12] dvenckusuchgo commented on #75
No worries, I can scale it down with a little photoshopping

[2021-08-24 17:25] gaurav commented on #75
Hi @dvenckusuchgo!

- Sujay Patil:
  - Affiliation: Lawrence Berkeley National Lab
  - Workstream: Tools and Data Quality, Ontology and Terminology (not Data Model Harmonization)
  - Could you please link his name to https://www.linkedin.com/in/sujay-patil/?
- Gaurav Vaidya:
  - Photo: you can use my RENCI photo at https://renci.org/wp-content/uploads/2019/10/RENCI_201910_Photo_Vaidya_Gaurav.jpg -

[2021-08-24 20:07] dvenckusuchgo commented on #75
Additional revisions made to Sandbox site

[2021-08-25 15:53] monicacecilia commented on #75
Dear @dvenckusuchgo

With apologies, I just realized this: please, let's update `Joe Flack` to `Joseph Flack` and `Bill Duncan` to `William Duncan`

Thank you! 🌷

[2021-08-31 04:13] keblumhardt opened #76 "Update Concierge Page"
https://harmonization.datacommons.cancer.gov/concierge

- [x] Add a "COMMUNITY INTERACTIONS" section under the "GITHUB" section at the bottom of the page. The text should read as follows:
"The CCDH maintains a [standard operating procedure (SOP)](link to existing SOP page - https://harmonization.datacommons.cancer.gov/community-interactions) for interactions with members of the CRDC community.

Th

[2021-09-08 18:35] #76 closed

[2021-10-13 03:37] keblumhardt opened #77 "Timeline Refresh"
Update CCDH Timeline found here: https://harmonization.datacommons.cancer.gov/about
<img width="825" alt="Screen Shot 2021-10-12 at 10 35 41 PM" src="https://user-images.githubusercontent.com/57538503/137062824-2bd6fdc6-bcd4-43cb-8584-26526be19724.png">

[2021-10-13 03:40] keblumhardt opened #78 "Update Team and Organization page"
here: https://harmonization.datacommons.cancer.gov/ccdh-team-organization

- Remove Dazhi Jiao; replace?
- Add Jooho Lee, University of Chicago, Data Model Harmonization

[2021-10-13 03:45] keblumhardt opened #79 "Add video to website"
Add Engagement Video to website

Link: https://www.youtube.com/watch?v=CbED1CFn8DQ&t=4s

[2021-11-09 22:41] keblumhardt opened #80 "October Newsletter"
Add October newsletter pdf to concierge page

Link: https://drive.google.com/drive/u/0/folders/1o23n-U78aFKqtgdfofjb_gKbVQ_xiDfO

[2021-11-10 02:47] keblumhardt commented on #77
Waiting for updated SOW

[2021-11-11 18:12] dvenckusuchgo commented on #80
Updated on ccdhportaldev and production

[2021-11-11 18:12] #80 closed

[2021-11-16 20:04] dvenckusuchgo commented on #79
Since we talked about setting up the video thumbnail for the embedded link...
That is set through YouTube's interface. [More Info](https://www.renderforest.com/blog/how-to-change-thumbnail-youtube)

[2022-01-03 18:08] #57 closed

[2022-01-03 18:08] #77 closed

[2022-01-03 18:08] #78 closed

[2022-01-03 18:08] #79 closed